# Dependencies
node_modules/
.pnpm-store/

# Local env & config with secret keys
config.json
.env
.env.local
.env.*.local

# Build output
dist/
dist-ssr/
*.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor & OS files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvsopt
*.njsproj
*.sln
*.sw?
